Protocol 2
Port 22
PermitRootLogin no
AllowAgentForwarding no
AllowTcpForwarding no
PrintMotd no
PrintLastLog no
PasswordAuthentication no

AuthorizedKeysFile	    none
AuthorizedKeysFile2	    none

PidFile                 /somewhere/sshd-vcs.pid
AuthorizedKeysScript    /somewhere/example/auth.sh
ForceUser               git
