.DS_Store
*.o
*.out

/openssh-5.3p1/Makefile
/openssh-5.3p1/buildpkg.sh
/openssh-5.3p1/config.h
/openssh-5.3p1/config.log
/openssh-5.3p1/config.status
/openssh-5.3p1/libssh.a
/openssh-5.3p1/openbsd-compat/Makefile
/openssh-5.3p1/openbsd-compat/libopenbsd-compat.a
/openssh-5.3p1/openbsd-compat/regress/Makefile
/openssh-5.3p1/openssh.xml
/openssh-5.3p1/opensshd.init
/openssh-5.3p1/scard/Makefile
/openssh-5.3p1/scp
/openssh-5.3p1/sftp
/openssh-5.3p1/sftp-server
/openssh-5.3p1/ssh
/openssh-5.3p1/ssh-add
/openssh-5.3p1/ssh-agent
/openssh-5.3p1/ssh-keygen
/openssh-5.3p1/ssh-keyscan
/openssh-5.3p1/ssh-keysign
/openssh-5.3p1/ssh-rand-helper
/openssh-5.3p1/ssh_prng_cmds
/openssh-5.3p1/sshd
/openssh-5.3p1/survey.sh
