.DS_Store
*.o
*.out
*.pid
*.*~

/openssh-*/Makefile
/openssh-*/buildpkg.sh
/openssh-*/config.h
/openssh-*/config.log
/openssh-*/config.status
/openssh-*/libssh.a
/openssh-*/openbsd-compat/Makefile
/openssh-*/openbsd-compat/libopenbsd-compat.a
/openssh-*/openbsd-compat/regress/Makefile
/openssh-*/openssh.xml
/openssh-*/opensshd.init
/openssh-*/scard/Makefile
/openssh-*/scp
/openssh-*/sftp
/openssh-*/sftp-server
/openssh-*/ssh
/openssh-*/ssh-add
/openssh-*/ssh-agent
/openssh-*/ssh-keygen
/openssh-*/ssh-keyscan
/openssh-*/ssh-keysign
/openssh-*/ssh-rand-helper
/openssh-*/ssh-pkcs11-helper
/openssh-*/ssh_prng_cmds
/openssh-*/sshd
/openssh-*/survey.sh
